[user]
	name = Miikka Koskinen
	email = miikka.koskinen@iki.fi
[alias]
	st = status -sb
	g = grep --break --heading --line-number
	ca = commit --amend
	co = checkout
	publish = push -u miikka HEAD
	cach = commit --amend -CHEAD
	pushf = push --force-with-lease
	patdiff = difftool -y -x patdiff
	aliases = !git config -l | egrep \"^alias\\.\" | cut -c 7- | gsed \"s/=/\\t/\" | rs -c -z 0 2
[core]
	excludesfile = /Users/miikka/.gitignore_global
[rerere]
	enabled = true
[rebase]
	autoSquash = true
[init]
	defaultBranch = main
[pull]
	ff = only
[fetch]
    fsckObjects = true
[transfer]
    fsckObjects = true
[receive]
    fsckObjects = true
[protocol "http"]
    allow = never
[protocol "git"]
    allow = never
[includeIf "gitdir:~/p/"]
    path = .gitconfig.work
[url "git@github.com:"]
    insteadOf = https://github.com/
